.bg-header {
  background: url(https://picsum.photos/2600/2600/?random) no-repeat center
    center;
  background-attachment: fixed;
  height: 50vh;
  filter: brightness(50%);
  position: relative;
}

.recipe-title {
  margin-top: 250px;
}
